.card1 {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 255, 1),
    rgba(71, 101, 233, 0.5)
  );
  /* border-radius: 10px; */
}

.card2 {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 255, 1),
    rgba(71, 101, 233, 0.5)
  );
}

.card3 {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 255, 1),
    rgba(71, 101, 233, 0.5)
  );
}

.card4 {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 255, 1),
    rgba(71, 101, 233, 0.5)
  );
}

.card5 {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 255, 1),
    rgba(71, 101, 233, 0.5)
  );
}

.card6 {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 255, 1),
    rgba(71, 101, 233, 0.5)
  );
}

.card7 {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 255, 1),
    rgba(71, 101, 233, 0.5)
  );
}

.card8 {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 255, 1),
    rgba(71, 101, 233, 0.5)
  );
}
